<div class="panel-header">
  <div class="caption">Powered by<i class="google-logo"></i></div>
  <div class="top-options search">
    <input class="gn-field-simple js-search-field" value="" placeholder="Search images..." />
  </div>
</div>
<div class="image-settings-wrap">
  <div class='nano'>
    <div class='content'>
      <ul class="image-settings-list js-items">
      </ul>
    </div>
  </div>
</div>
{{> redactor.media.buttons }}
