<div class="gn-field-container">
  <label id="label" class="gn-label-item">{{ label }}</label>
  <input type="text" id="prompt" class="gn-field-simple" value="{{ prompt }}" />
</div>
<div class="gn-btn-wrapper" style="text-align:right;">
  <button id="cancel" class="gn-btn gn-btn-text inverse">{{l.widgets.cancel}}</button>
  <button id="save" class="gn-btn gn-btn-simple" disabled>{{l.widgets.save}}</button>
</div>
