<i class="index-arrow up icon js-up"></i>
<i class="index-arrow down icon js-down"></i>
<i class="delete-icon icon-right js-remove"></i>
<i class="settings-icon-black icon-right js-select"></i>
<div class="align-block js-preview">
</div>
