<ul class="insert-list">
  <li class="item js-text">
    <i class="text-icon icon"></i>
  </li>
  <li class="item js-image">
    <i class="image-icon-black icon"></i>
  </li>
  <li class="item js-video">
    <i class="video-icon-black icon"></i>
  </li>
  <li class="item js-svg">
    <i class="polygon-icon-black icon"></i>
  </li>
</ul>
