<div class="arrow left"></div>
<ul class="colors-list js-palette">
</ul> 
{{! TODO
<ul class="colors-list js-customPalette">
</ul>
}}
<ul class="points-block js-picker">
  <li class="point"></li>
  <li class="point"></li>
  <li class="point"></li>
</ul>
<div class="btn-wrapper">
  <button class="gn-btn gn-btn-simple gn-right js-apply">apply</button>
  <button class="gn-btn gn-btn-text inverse gn-right js-cancel">cancel</button>
</div>
