<div class="static-sidebar js-tools">
</div>

<div class="panel-wrap js-layersPanel">
</div>

<div class="panel-wrap js-shapePanel">
</div>

<div class="panel-wrap js-googleSearch">
</div>

<div class="panel-wrap js-youtubeSearch">
</div>

<div class="panel-wrap js-themesPanel">
</div>

<div class="panel-wrap js-pagesPanel">
</div>

<div class="slide-wrapper js-page">
</div>
