<div class="popup image js-addBackgroundImageBlock">
  <div>
    <div class="arrow right"></div>
    <div class="preview-block js-preview">
      <button class="upload-btn js-remove">remove</btn>
    </div>
    {{!
    <div class="inpt-wrap">
      <input type="text" value="Stretch" class="gn-field-simple">
      <div class="drop-arrow"></div>
    </div>
    }}
  </div>
</div>
<div class="popup image js-removeBackgroundImageBlock">
  <div style="padding:15px">
    <div class="arrow right"></div>
    <div class="preview-block">
      <i class="image-icon"></i>
      <button class="upload-btn js-upload">upload</btn>
    </div>
    <button class="gn-btn gn-btn-primary js-google">find in google</button>
  </div>
</div>                  
