<div class='js-wrapper'>
  <div class="slide js-canvas">
    <div class='js-shapesContainer gn-redactor-canvas-container'>
    </div>
  </div>
  <div class='js-stuffContainer gn-redactor-canvas-container'>
  </div>
  <ul class="slide-menu">
    <li class="item js-backgroundColorBtn">
      <i class="fill-icon icon"></i>
    </li>
    <li class="item js-backgroundImageBtn">
      <i class="image-icon icon"></i>
        <div class='js-backgroundImageBlock'>
        </div>
    </li>
  </ul>
</div>
