<ul class="items-list">
  {{!
  <li class="item js-preview"><i class="preview-icon icon"></i></li>
  <li class="item js-save"><i class="save-icon icon"></i></li>
  }}
  <li class="item js-undo"><i class="undo-icon icon"></i></li>
  <li class="item js-redo"><i class="redo-icon icon"></i></li>
  <li class="item js-themes"><i class="themes-icon icon"></i></li>
  <li class="item js-layers"><i class="layers-icon icon"></i></li>
  {{!
  <li class="item js-library"><i class="lib-icon icon"></i></li>
  }}
  <li class="item js-pages"><i class="pages-icon icon"></i></li>
  {{!
  <li class="item close js-closeRedactor"><i class="close-icon icon"></i></li>
  }}
</ul>
<i class="logo"></i>
