{{> redactor.shapes.border }}

{{#if typeimage}}
  <div id='image' class='gn-redactor-image shape-content js-withBorder '>
  </div>

  <div class="default-image js-default js-withBorder">
    <i class="image-icon"></i>
  </div>
{{/if}}
