//global color
$white: #fff;
$black: #000;
$blacked: #191919;
$gray: #767676;
$grayed: #757575;
$graying: #868686;
$light-gray: #b1b1b1;

//background color
$azure-gray: #08678f;
$dirty: #fbfbfb;
$foam: #ebebeb;
$seafoam: #f0f0ed;
$haplogroup: #1b1b1b;
$atratsitovy: #333;
$blue-green: #03a678;
$alizarin: #f43838;
$alizarin-notify: #f44647;
$wetasphalt: #666;
$inverse: #202020;
$green-pine: #096855;
$sanginova: #9f2013;
$dark-blue: #11517b;
$blue-steel: #2980b9;
$wet: #575757;
$wetest: #454545;
$lighted-gray: #afafaf;
$jade: #03ac7c;


// button color
$emerald-start: #6dc87a;
$emerald-end: #58bf66;
$beard-abdel: #ccd9e1;

// border color
$beard: #d4d4d4;
$beard-karim: #d7d7d7;
$beard-hr: #d1d1d1;

//text color
$quartz: #959595;
$night: #0e151e;
$green-sea: #16a085;
$asphalt: #5a5a5a;
$silver: #c4c4c4;
$mourena: #00707f;
$mourened: #0da094;

// primary color
$primary: #2185c5;
