<div class="block border">

  <div class="caption">Border</div>

  <div class="gn-switch gn-right">
    <label for="hasBorder" class="gn-label-control">
       <input type="checkbox" value="" name="" class="gn-checkbox-switch js-hasBorder" id="hasBorder">
       <span class="gn-switch-control"></span>
       <span class="gn-switch-label gn-switch-on">On</span>
       <span class="gn-switch-label gn-switch-off">Off</span>
     </label>
  </div> 

  <div class="border-style-options js-borderParam">
    <div class="gn-btn gn-btn-default border-dashed js-border-style js-border-dashed">
      <i class="border-dashed-icon icon"></i>
    </div>
    <div class="gn-btn gn-btn-default border-solid js-border-style js-border-solid">
      <i class="border-solid-icon icon"></i>
    </div>
    <div class="gn-btn gn-btn-default border-dotted js-border-style js-border-dotted">
      <i class="border-dotted-icon icon"></i>
    </div>
  </div>

  <div class="progress js-borderWidth js-borderParam">
    <div class="progress-inner js-slider-stripe"></div>
    <div class="count js-slider-text"></div>
  </div>

  <div class="color-settings js-borderParam js-color">
  </div>

</div>
