<div class="image-block preview-block js-noimage">
  <i class="js-preview-icon"></i>
  <button class="upload-btn js-upload">upload</button>
</div>
<div class="image-block js-imagePreview">
  <div class='image-container js-imageContainer'></div>
  <button class="upload-btn js-upload">upload</button>
</div>
