<div class="panel-header">
  <div class="caption">Pages</div>
  {{>redactor.shapePanels.closeButton}}
</div>
<div class="nano has-scrollbar">
  <div class="content">
    <ul class="pages-list js-pages-list">
    </ul>
  </div>
</div>
<div class="panel-foot">
  <ul class="options">
    <li class="list-item js-createPage">
      <button class="gn-btn gn-btn-simple"><i class="plus-icon"></i></button>
    </li>
    <li class="list-item js-renamePage">
      <button class="gn-btn gn-btn-default"><i class="rename-icon"></i></button>
    </li>
    <li class="list-item js-duplicatePage">
      <button class="gn-btn gn-btn-default"><i class="copy-icon"></i></button>
    </li>
    <li class="list-item js-removePage">
      <button class="gn-btn gn-btn-default"><i class="delete-icon"></i></button>
    </li>
  </ul>
</div>
