.Trash-*
.sass-cache
.grunt
.idea
.vagrant
.swo
.swp

/node_modules
/public
/backend
/tests/compiled
/blog
/www
/tests/js
/vendor/bower

_SpecRunner.html
index.html
tests.html

._*
.DS_Store
*.DS_Store
Thumbs.db
Thumbs.db\:encryptable
*Thumbs.db
*Thumbs.db\:encryptable
*.sublime-project
*.sublime-workspace
vendor/bower
